[Unit]
Description = Add a pipewire stereo source named %i

After = pipewire.service

[Service]
Type = oneshot

StandardOutput = journal

ExecStart = /bin/sh -c 'pactl load-module module-null-sink object.linger=1 media.class=Audio/Source/Virtual sink_name="%i" channel_map=stereo > %h/.cache/pipewire_source_stereo_%i'
ExecStopPost = -/bin/sh -c 'pactl unload-module $(cat %h/.cache/pipewire_source_stereo_%i)'
ExecStopPost = -/bin/rm %h/.cache/pipewire_source_stereo_%i

RemainAfterExit = true

[Install]
WantedBy = default.target