[user]
	name = oasido
	email = asido.ofek@gmail.com
[init]
	defaultBranch = main
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[commit]
	verbose = true
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[merge]
	conflictstyle = zdiff3
